{{#each ideas}}
<div class="card card-body mb-2">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <div class="container">
    <a class ="btn btn-dark btn-block mb-2"href="/ideas/edit/{{id}}">EDIT</a>
    <form method ="POST" action='/ideas/{{id}}?_method=DELETE'>
        <input type="hidden" name='_method' value="PUT">
        <input type="Submit"  class ="btn btn-danger btn-block" value="Delete">
    </form>
    </div>
</div>
{{else}}
<p>No Video ideas listed.</p>
{{/each}}